html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* header */

body {
  background-color: black;
}
div a { 
  text-decoration: none;
  color: azure;
}

div :hover {
  background-color: green;
  border-radius: 20px;
  height: 70px;
  width: 300px;
  text-align: center;
  padding-top: 15px;
}
.contenedor-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}