html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



/* header */

.contenedor {
  background-color: beige;
  display: grid;
  align-items:center;
  justify-content: space-between;
  grid-template-columns: 45px 150px 45px auto 45px 150px 45px;
  height: 90px;
  margin: 20px 30px;
  padding-right: 20px;
  padding-left: 20px;
  width: 90%;
}

/*section-logo */

.header-logo {
  grid-column: 2/3;
}

/* section-link */

.grid-flex {
  background-color: rgb(247, 213, 213);
  grid-column: 4/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  width: 300px;
}

 /* section-botom */
 
 .bottom {
   background-color: rgb(231, 60, 217);
   grid-column: 6/7;
   height: 50px;
   text-align: center;
   padding-top: 10px;
  }
  
  .bottom a {
    color: azure;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    
  }
  